.section-kv {
  // web-1920
  background-color: #C4EEF2;
  width: 100%;
  padding-top: 670px;
  padding-bottom: 30px;
  @include breakpoint(xl) {
    padding-top: 670px;
  }
  @include breakpoint(lg) {
    padding-top: 560px;
  }
  @include breakpoint(md) {
    padding-top: 500px;
  }
  @include breakpoint(sm) {
    padding-top: vwm(1173px);
  }

  &::after {
    content: '';
    display: block;
    // padding-bottom: 450px;
    width: 100%;
    min-width: 1920px;
    height: 300px;
    background: url('../images/img_kv-background.png') no-repeat;
    background-position: top center;
    background-size: cover;
    position: absolute;
    bottom: -83px;
    left: 0;
    transform: translateX(-50%);
    z-index: 1;
    animation: floatOcean 5s infinite linear;
    @include breakpoint(sm) {
      min-width: vwm(768px);
      height: vwm(204px);
      bottom: vwm(-87px);
    }

  }

  .wrap__inner-kv {
    max-width: 900px;
    margin: auto;
    position: relative;
    z-index: 10;

    &_master{

      &-title{
        position: absolute;
        width: 120px;
        top: -74%;
        left: -8%;
        display: flex;

        img{
          &:nth-child(1) {
            opacity: 0;
            animation: slideTop 600ms forwards;
            animation-delay: 1s;
          }
          &:nth-child(2) {
            opacity: 0;
            animation: slideTop 600ms forwards;
            animation-delay: 1.1s;
          }
          &:nth-child(3) {
            opacity: 0;
            animation: slideTop 600ms forwards;
            animation-delay: 1.2s;
          }
          &:nth-child(4) {
            opacity: 0;
            animation: slideTop 600ms forwards;
            animation-delay: 1.3s;
          }
          &:nth-child(5) {
            opacity: 0;
            animation: slideTop 600ms forwards;
            animation-delay: 1.4s;
          }
        }

        @include breakpoint(xl) {
          width: 110px;
          top: -65%;
          left: -2%;
        }
        @include breakpoint(lg) {
          width: 100px;
          top: -55%;
          left: 3%;
        }
        @include breakpoint(md) {
          width: 88px;
          top: -45%;
          left: 3%;
        }
        @include breakpoint(sm) {
          width: vwm(120px);
          top: vwm(-1035px);
          left: 11%;
        }
      }

      &-price{
        position: absolute;
        width: 400px;
        top: -50%;
        left: 12%;

        @include breakpoint(xl) {
          width: 350px;
          top: -41%;
          left: 18%;
        }
        @include breakpoint(lg) {
          width: 300px;
          top: -33%;
          left: 23%;
        }
        @include breakpoint(md) {
          width: 250px;
          top: -26%;
          left: 20%;
        }
        @include breakpoint(sm) {
          width: vwm(420px);
          top: vwm(-890px);
          left: 33%;
        }
      }

      &-person{
        position: absolute;
        width: 530px;
        top: -85%;
        right: -16%;

        opacity: 0;
        animation: personFadeIn 1000ms forwards;
        animation-delay: 1s;

        @include breakpoint(xl) {
          width: 450px;
          top: -72%;
          right: -8%;
        }
        @include breakpoint(lg) {
          width: 400px;
          top: -64%;
          right: 0;
        }
        @include breakpoint(md) {
          width: 350px;
          top: -56%;
          right: 0x;
        }
        @include breakpoint(sm) {
          width: vwm(530px);
          top: vwm(-510px);
          right: vwm(120px);
        }
      }

      &-text {
        width: 160px;
        height: 160px;
        border-radius: 30px;
        background-color: $color-navy-blue;
        font-size: 55px;
        color: $white;
        line-height: 1.2;
        letter-spacing: 1.2px;
        padding: 10px;
        border-bottom: 5px $white solid;
        position: absolute;
        top: -48%;
        left: -8%;

        @include breakpoint(xl) {
          width: 150px;
          height: 150px;
          left: -1%;
          top: -39%;
          font-size: 50px;
        }
        @include breakpoint(lg) {
          width: 140px;
          height: 140px;
          left: 3%;
          top: -33%;
          font-size: 48px;
        }
        @include breakpoint(md) {
          width: 130px;
          height: 130px;
          left: 3%;
          top: -27%;
          font-size: 44px;
        }
        @include breakpoint(sm) {
          width: vwm(167px);
          height: vwm(170px);
          border-radius: vwm(30px);
          left: 9%;
          top: vwm(-875px);
          font-size: vwm(57px);
          border-bottom: vwm(6px) $white solid;
          line-height: 1.22;
        }
        @include breakpoint(xs) {
          font-size: vwm(50px);
        }
      }

      &-cash{
        position: absolute;
        top: -101%;
        right: -184px;

        // opacity: 0;
        // animation: dialogueFadeIn 400ms forwards;
        // animation-delay: 2s;

        @include breakpoint(xl) {
          top: -88%;
          right: vw(-170px);
        }
        @include breakpoint(lg) {
          top: -85%;
          right: vw(-90px);
        }
        @include breakpoint(md) {
          top: -75%;
          right: 20px;
        }
        @include breakpoint(sm) {
          top: vwm(-656px);
          right: vwm(24px);
        }
        @include breakpoint(xs) {
          right: 5px;
        }

        &::after{
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 35px 18px 0 0;
          border-color: $white transparent transparent transparent;
          position: absolute;
          bottom: -21px;
          left: -2px;
          transform: rotate(32deg);
          @include breakpoint(sm) {
            border-width: vwm(35px) vwm(18px) 0 0;
            bottom: vwm(-21px);
            left: vwm(-2px);
          }
        }
      }

      &-time{
        position: absolute;
        top: -88%;
        left: 255px;

        // opacity: 0;
        // animation: dialogueFadeIn 400ms forwards;
        // animation-delay: 2.5s;

        @include breakpoint(xl) {
          top: -79%;
        }
        @include breakpoint(lg) {
          top: -73%;
          left: 230px;
        }
        @include breakpoint(md) {
          top: -63%;
          left: 240px;
        }
        @include breakpoint(sm) {
          top: vwm(-595px);
          left: vwm(35px);
        }
        @include breakpoint(xs) {
          left: 5px;
        }

        &::after{
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 18px 35px 0;
          border-color: transparent $white transparent transparent;
          position: absolute;
          bottom: -21px;
          right: -2px;
          transform: rotate(-32deg);
          @include breakpoint(sm) {
            border-width: 0 vwm(18px) vwm(35px) 0;
            bottom: vwm(-21px);
            right: vwm(-2px);
          }
        }
      }

      &-phone{
        position: absolute;
        top: -12.5%;
        right: -171px;

        // opacity: 0;
        // animation: dialogueFadeIn 400ms forwards;
        // animation-delay: 3s;

        @include breakpoint(xl) {
          right: vw(-171px);
        }
        @include breakpoint(xl) {
          top: -11%;
          right: vw(-80px);
        }
        @include breakpoint(md) {
          top: -10%;
          right: 18px;
        }
        @include breakpoint(sm) {
          top: vwm(-88px);
          right: vwm(30px);
        }

        &::after{
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 35px 0 0 18px;
          border-color: transparent transparent transparent $white;
          position: absolute;
          top: -18px;
          left: -2px;
          transform: rotate(-41deg);
          @include breakpoint(sm) {
            border-width: vwm(35px) 0 0 vwm(18px);
            top: vwm(-21px);
            left: vwm(-2px);
          }
        }
      }
    }

    &_login {
      max-width: 900px;
      background-color: $white;
      border-radius: 20px;
      border: 4px #3D1F11 solid;
      margin: auto;
      padding-top: 30px;
      padding-bottom: 35px;
      position: relative;
      z-index: 1;
      @include breakpoint(md) {
        margin: 0px 30px;
      }

      @include breakpoint(sm) {
        margin: 0px vwm(32px);
        padding-top: vwm(30px);
        padding-bottom: vwm(59px);
      }

      &-direction {
        position: relative;
        max-width: 567px;
        margin: auto;
        padding-top: 16px;
        padding-bottom: 40px;

        @include breakpoint(sm) {
          width: vwm(567px);
          // margin: 0 0 0 vwm(57px);
          padding-top: vwm(16px);
          padding-bottom: vwm(40px);
        }

        &__title{
          // font-weight: 900;
          font-size: 46px;
          line-height: 1.2;
          letter-spacing: 3.2px;
          width: 100%;
          background-color: $color-navy-blue;
          padding: 10px 0;
          color: white;
          position: relative;
          @include breakpoint(sm) {
            font-size: vwm(56px);
            line-height: 1;
            padding: vwm(5px) 0 vwm(15px) 0;
          }

          &::before{
            content: '';
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background-color: #fff;
            position: absolute;
            top: 41%;
            right: 47px;
            @include breakpoint(sm) {
              width: vwm(14px);
              height: vwm(14px);
              top: vwm(31px);
              right: vwm(47px);
            }
          }

          &::after{
            content: '';
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background-color: #fff;
            position: absolute;
            top: 41%;
            left: 48px;
            @include breakpoint(sm) {
              width: vwm(14px);
              height: vwm(14px);
              top: vwm(31px);
              left: vwm(48px);
            }
          }
        }

        &::before{
          content: '';
          height: 82px;
          width: 2px;
          background-color: #12465d;
          position: absolute;
          top: -23%;
          right: 52px;
          z-index: 1;
          @include breakpoint(sm) {
            height: vwm(82px);
            // width: vwm(2px);
            top: vwm(-30px);
            right: vwm(52px);
          }
        }

        &::after{
          content: '';
          height: 82px;
          width: 2px;
          background-color: #12465d;
          position: absolute;
          top: -23%;
          left: 54px;
          @include breakpoint(sm) {
            height: vwm(82px);
            // width: vwm(2px);
            top: vwm(-30px);
            left: vwm(54px);
          }
        }

        .triangle-left{
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 38px 0 36px 28px;
          border-color: transparent transparent transparent #ffffff;
          position: absolute;
          top: 0;
          left: -1px;
          @include breakpoint(sm) {
            border-width: vwm(38px) 0 vwm(36px) vwm(28px);
            left: vwm(-1px);
          }
        }
        .triangle-right{
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 38px 28px 38px 0;
          border-color: transparent #ffffff transparent transparent;
          position: absolute;
          top: 0;
          right: -1px;
          @include breakpoint(sm) {
            border-width: vwm(38px) vwm(28px) vwm(38px) 0;
            right: vwm(-1px);
          }
        }
      }

      &-text {
        width: 377px;
        margin: auto;
        @include breakpoint(sm) {
          width: vwm(565px);
        }
        input {
          // width: 377px;
          width: 100%;
          height: 52px;
          margin-top: 7px;
          margin-bottom: 10px;
          border-radius: 5px;
          border: 1px solid $gray-500;
          font-size: 24px;
          padding-left: 12px;

          @include breakpoint(sm) {
            height: vwm(78px);
            margin-top: vwm(22px);
            margin-left: vwm(10px);
            border-radius: vwm(10px);
            font-size: vwm(36px);
            padding-left: vwm(38px);
          }
          @include breakpoint(xs) {
            width: 90%;
          }
        }

        &-verify {
          display: flex;
          align-items: center;
          margin: auto;
          width: 100%;
          @include breakpoint(sm) {
            margin: 0 0 0 vwm(10px);
          }
          @include breakpoint(xs) {
            width: 90%;
            margin: auto;
          }

          input {
            width: 55%;
            // height: 52px;
            margin: 10px 0;
            // border-radius: 5px;
            // border: 1px solid $gray-500;
            // font-size: 24px;
            padding-left: 10px;
            text-align: left;

            @include breakpoint(sm) {
              width: vwm(310px);
              height: vwm(78px);
              margin: vwm(15px) 0;
              font-size: vwm(36px);
              padding-left: vwm(38px);
            }
          }

          .verification-code {
            padding-left: 15px;
            cursor: pointer;
            width: 45%;
            @include breakpoint(sm) {
              padding-left: 0;
              margin-left: vwm(30px);
              // width: vwm(240px);
              height: vwm(78px);
            }
          }
        }
      }



      &-check {
        width: 567px;
        margin: auto;
        text-align: left;
        font-size: 15px;
        line-height: 1.3;
        display: flex;
        align-items: flex-start;
        // padding: 20px 0;
        padding-top: 24px;
        padding-bottom: 16px;
        @include breakpoint(sm) {
          width: 86%;
          font-size: vwm(30px);
          padding-top: vwm(33px);
        }

        input[type=checkbox] {
          min-width: 16px;
          height: 16px;
          border-radius: 0;
          margin: 4px 0;
          @include breakpoint(sm) {
            min-width: vwm(40px);
            height: vwm(40px);
          }
        }

        label {
          margin-left: 8px;
          @include breakpoint(sm) {
            margin-left: vwm(13px);
          }

          .link-text {
            color: #0027e8;
            text-decoration: underline;
            -webkit-tap-highlight-color:transparent;
          }
        }
      }

      &-btn-wrap {
        width: 250px;
        margin-top: 15px;
        margin: auto;
        padding-top: 25px;
        @include breakpoint(sm) {
          width: vwm(550px);
        }

        button {
          width: 100%;
          font-size: 40px;
          color: $white;
          background-color: #DB4B4B;
          border-radius: 30px;
          padding: 12px 34px;
          border: none;
          position: relative;
          cursor: pointer;
          text-align: left;
          display: flex;
          align-items: center;
          // justify-content: center;
          line-height: 1;

          @include breakpoint(sm) {
            font-size: vwm(54px);
            padding: vwm(35px) 0;
            border-radius: vwm(70px);
            letter-spacing: vwm(5px);
            // text-align: center;
            justify-content: center;
          }

          img {
            position: absolute;
            width: 16px;
            // bottom: 20px;
            right: 26px;
            animation: slideInOutX 1s infinite;
            @include breakpoint(sm) {
              width: vwm(16px);
              // bottom: vwm(50px);
              right: vwm(110px);
            }
          }

        }
      }
    }
  }
  .box{
    font-size: 30px;
    width: 342px;
    background-color: $white;
    color: $color-navy-blue;
    padding: 10px;
    border-radius: 15px;
    letter-spacing: 1.1px;
    @include breakpoint(md) {
      font-size: 24px;
      width: 280px;
    }
    @include breakpoint(sm) {
      font-size: vwm(30px);
      padding: vwm(10px) vwm(30px);
      width: auto;
    }
  }

  &--pattern-right {
    &__pic {
      position: absolute;
      // z-index: 0;

      &:nth-child(1) {
        width: px-em(600);
        left: calc(50% + #{px-em(1490 - (1920/2))});
        top: px-em(-70);

        img{
          opacity: 0;
          transform: translate(300%, 0);
          animation: slideRight 800ms forwards;
          animation-delay: 400ms;
        }

        @include breakpoint(lg) {
          opacity: 0;
        }
      }

      &:nth-child(2) {
        width: px-em(850);
        left: calc(50% + #{px-em(880 - (1920/2))});
        top: px-em(-50);

        img{
          animation: rotate 3.5s linear forwards;
          animation-timing-function: ease-out;
          animation-delay: 600ms;
        }

        @include breakpoint(sm) {
          width: vwm(900px);
          left: -8%;
          top: 18%;
        }
      }

      &:nth-child(3) {
        width: px-em(337);
        left: calc(50% + #{px-em(1460 - (1920/2))});
        top: px-em(877);

        @include breakpoint(lg) {
          opacity: 0;
        }
      }

      &:nth-child(4) {
        width: px-em(118);
        left: calc(50% + #{px-em(1530 - (1920/2))});
        top: px-em(1190);
        z-index: 2;

        img{
          animation: rotate 4s linear infinite;
          animation-delay: 300ms;
        }

        @include breakpoint(lg) {
          opacity: 0;
        }
      }

      &:nth-child(5) {
        width: vwm(213px);
        right: vwm(-32px);
        top: vwm(23px);
        z-index: 2;
        opacity: 0;

        img{
          animation: floatX 6s infinite linear;
          animation-delay: 300ms;
        }

        @include breakpoint(sm) {
          opacity: 1;
        }
      }

      &:nth-child(6) {
        width: vwm(199px);
        right: vwm(-79px);
        top: vwm(956px);
        z-index: 2;
        opacity: 0;

        img{
          animation: floatX 6s infinite linear;
          animation-delay: 300ms;
        }

        @include breakpoint(sm) {
          opacity: 1;
        }
      }
    }
  }

  &--pattern-left {
    &__pic {
      position: absolute;

      &:nth-child(1) {
        width: px-em(430);
        left: calc(50% + #{px-em(390 - (1920/2))});
        top: px-em(-130);

        img{
          animation: floatY 5s infinite linear;
        }

        @include breakpoint(lg) {
          opacity: 0;
        }
      }

      &:nth-child(2) {
        width: px-em(430);
        left: calc(50% + #{px-em(-60 - (1920/2))});
        top: px-em(250);

        img{
          animation: float 3s linear infinite;
        }
      }

      &:nth-child(3) {
        width: px-em(200);
        left: calc(50% + #{px-em(145 - (1920/2))});
        top: px-em(876);
        z-index: 2;

        img{
          animation: float 4s linear infinite;
        }
      }

      &:nth-child(4) {
        width: px-em(460);
        left: calc(50% + #{px-em(-90 - (1920/2))});
        top: px-em(1035);
        z-index: 2;

        @include breakpoint(lg) {
          opacity: 0;
        }
      }

      &:nth-child(5) {
        width: vwm(199px);
        left: vwm(108px);
        top: vwm(-2px);
        z-index: 2;
        opacity: 0;

        @include breakpoint(sm) {
          opacity: 1;
        }
      }

      &:nth-child(6) {
        width: vwm(199px);
        left: vwm(-110px);
        top: vwm(530px);
        z-index: 2;
        opacity: 0;

        @include breakpoint(sm) {
          opacity: 1;
        }
      }
    }
  }


  // web中版-1420
  @include breakpoint(xl) {
  }
  // 行動裝置大版Pad-1024
  @include breakpoint(md) {
  }
  // 小網-768
  @include breakpoint(sm) {
  }
}
